datasets/*
!datasets/nas301/
!datasets/nas301/**
!datasets/dataset_loader_nas201.py
!datasets/dataset_loader_nas301.py

__pycache__/
.ipynb_checkpoints/
*.pycws_universale/data
ws_universale/data/

nb_models_1.0/
latent_space/nb_models_1.0/
**/nb_models_1.0/
